[submodule "themes/typography"]
	path = themes/typography
	url = https://github.com/justzerock/hexo-theme-typography.git
[submodule "themes/journal"]
	path = themes/journal
	url = https://github.com/justzerock/hexo-theme-Journal.git
[submodule "themes/cactus"]
	path = themes/cactus
	url = https://github.com/justzerock/hexo-theme-cactus.git
[submodule "themes/chic"]
	path = themes/chic
	url = https://github.com/justzerock/hexo-theme-Chic.git
[submodule "themes/zero"]
	path = themes/zero
	url = https://github.com/justzerock/hexo-theme-zero.git
[submodule "themes/next"]
	path = themes/next
	url = https://github.com/theme-next/hexo-theme-next
