a, span.exturl {
  border-bottom: none;
  display: inline-block;
  position: relative;

  &::before {
    background: var(--link-color);
    bottom: 0;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    visibility: hidden;
    width: 100%;
    the-transition();
  }

  &:hover::before {
    transform: scaleX(1);
    visibility: visible;
  }

}

.container {
  display: flex;
  flex-direction: column;  
}

main {
  display: flex;
  flex: 1;
}

@media (prefers-color-scheme: dark) {
  .site-brand-container {
    background: #0084CC;
  }

}