$black-deep = #017381;
$headband-bg = #017381;

// Global link color.
$link-color                   = #007480;
$link-color-dark              = #0084CC;
$link-hover-color             = #007480;
$link-hover-color-dark        = #0084CC;
$link-decoration-color        = #007480;